.container {
    position: fixed;
    background: #fff;
    box-shadow: 0 0 10px #dbdbdb;
    border-radius: 12px;
    top: calc(50% - 105px);
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 15px 28px;
    display: inline-block;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;

        .char {
            color: #333;
        }

        .icon {
            cursor: pointer;
            color: #999;
            font-size: 16px;

            i:first-child:hover {
                color: #7bca54;
            }

            i:last-child {
                margin-left: 10px;

                &:hover {
                    color: #f56f6f;

                }
            }
        }
    }

    .verify {
        width: 260px;
        position: relative;

        .negative {
            position: relative;
            width: 260px;
            height: 160px;
            img{
                position: absolute;
                width: 100%;
                height: 100%;
            }
            canvas{
                position: absolute;
                left: 0;
                top: 0;
                z-index: 11;
            }
        }
    }

    .slider {
        width: 260px;
        position: relative;
        margin: 20px auto 0;

        .bar {
            position: absolute;
            width: 100%;
            height: 10px;
            background: #efefef;
            border: 1px solid #e9e9e9;
            border-radius: 5px;
            box-shadow: inset 0 1px 1px #f8fcff;
            top: 7px;
        }

        .btn {
            position: relative;
            width: 46px;
            height: 26px;
            top: 0px;
            z-index: 12;
            cursor: pointer;
            border-radius: 36px;
            box-shadow: 0 0 2px #0081ff;
            background: #0084ff;
            display: flex;
            justify-content: center;
            align-items: center;

            span {
                width: 2px;
                height: 12px;
                background: #fff;
                display: inline-block;
                margin: 2.5px;
            }
        }
    }
}