.home {
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 9999;
  overflow: hidden;
}

.bg {
  position: relative !important;

  img {
    position: absolute !important;
    max-width: none;
    display: block;
  }

  .icon {
    position: absolute;
    right: 20px;
    top: 10px;
  }
}
